
.auth_page {
    width: 100%;
    min-height: 100vh;
    background-color: #7289da;
    padding: 10%;
    background-image: url('/public/auth_back2.jpg');
    background-size: cover;
    background-position: center;
}

.auth-container {
    max-width: 500px;
    margin: 0px auto;
    background: #2c2f33;
    padding: 20px;
    color: white;
    border-radius: 10px;
    text-align: center;
    
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.1);
  }


  .auth-container form {
    margin: 20% 8% 10% 8% ;
    display: flex;
    flex-direction: column;
  }
.auth-container input {
    width: 100%;
    padding: 15px;
    margin: 5% 0;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black; 
    caret-color: #7289da; 
}
.auth-container button {
    padding: 15px 20px;
    width: 100px;
    background: #7289da;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}
  
  .auth-container a {
    color: #7289da;
    text-decoration: none;
  }
  